<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<!--Вместо VALUE таймлиф вставит динамически значение-->
<!--Поля этого человека будут доступны в нашем шаблоне и их поместить вместо значения value-->


<!--Человек получается от контроллера-->
<!--Под ключ Person мы помещаем правильного человека-->
<!--Поля этого человека будут доступны в нашем шаблоне-->
<!--И мы их можем получить вместо значений VALUE-->

<!--@GetMapping("/{id}")-->
<!--public String show(@PathVariable("id") int id,  Model model){-->
<!--// Получим одного человека по его id из DAO и передадим на отображение в представление-->
<!--// и должны положить его в модель и вернуть необходимый шаблон-->
<!--// тут будет лежать, то что пришло из DAO то что пришло по id-->
<!--model.addAttribute("person", personDAO.show(id));-->
<!--// тут вы возвращаем из этого метода название того шаблона, где будет показываться этот человек-->
<!--// под шаблоном имеется в виду views, то есть index.html-->
<!--return "people/show";-->
<!--}-->

<p th:text="${person.getName()}">VALUE</p>
Также мы обратимся к id человека
<p th:text="${person.getId()}">VALUE</p>
</body>
</html>