<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8" >
  <title>All people</title>
</head>
<body>
<!--мы должны пройтись по списку из людей и вывести каждого человека-->
<!--в таймлифе есть подобие цикла.-->
<!--мы передаем на вход что-то на подобии цикла for each-->
<!--мы указываем здесь название коллекции ${views} и указываем-->
<!--временную переменную person, которая будет указывать-->
<!--на каждый элемент этой коллекции-->
<!--обращаемся к коллекции с помощью доллара и фигурных скобок-->

<div th:each="person : ${people}"></div>
<!--Тут будет лежать имя человека-->
<!--user будет вставляться таймлифом динамически-->
<!--При нажатии мы должны переходить на страницу каждого человека-->
<!--В круглых скобках указываем значение для этого id-->

<!--id равняется тому что лежит в person.getId(), то есть мы получаем id каждого человека-->
<!--мы получаем id каждого человека-->
<!--мы его кладем во временную переменную id-->
<!--эта временная переменная используется здесь, чтобы сформировать динамически правильный адрес-->
<!--на который будет переходить пользователь при нажатии на эту ссылку-->
<!--для первого будет-->
<!--/views/1-->
<!--для второго-->
<!--/views/2-->
<!--Таймлиф будет на динамически генерировать html code-->
<!--с правильными ссылками-->
<!--При нажатии на каждое из этих имен, на ссылку мы будет переходить
//(на страницу каждого человека) на указанный ниже метод контроллера-->
<!--@GetMapping("/{id}")-->
<!--public String show(@PathVariable("id") int id,  Model model){-->
<!--// Получим одного человека по его id из DAO и передадим на отображение в представление-->
<!--// и должны положить его в модель и вернуть необходимый шаблон-->
<!--// тут будет лежать, то что пришло из DAO то что пришло по id-->
<!--model.addAttribute("person", personDAO.show(id));-->
<!--// тут вы возвращаем из этого метода название того шаблона, где будет показываться этот человек-->
<!--// под шаблоном имеется в виду views, то есть index.html-->
<!--return "views/show";-->
<!--будем передавать id в адресе-->
<!--}-->

<!--<a th:href="@{people/{id}(id=${person.getId()})}" th:text="${person.getName()}">user</a>-->

<a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName()}">user</a>
</body>

</html>